* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f6f8;
}

/* Header */
header {
    background-color: #2c3e50;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    color:#3498db
}

/* Hero */
.hero {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

/* Categories */
.categories {
    padding: 30px;
    text-align: center;
}

.cat-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.cat-box div {
    background: white;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Books */
.books {
    padding: 30px;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.book-card {
    background: white;
    width: 220px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.book-card button {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.book-card button:hover {
    background-color: #2980b9;
}

/* Footer */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}